:root {
  --main-bg-color: white;
}

html {
  background-color: var(--main-bg-color);
}

#header {
  text-align: center;
  height: auto;
}

.component {
  padding: 20px;
  text-align: left;

  .table-option {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
}